<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/test.css">
</head>
<body>
  <section class="chat">
      <h2>Chat</h2>
      <div class="">
          <h3>Chat #1</h3>
      </div>
      <div class="messages">
          <ul id="messages">
              <li>Hey</li>
          </ul>
      </div>
      <form class="chat" action="">
          <textarea id="input-message" name="message" placeholder="Schrijf een bericht..."></textarea>
          <div>
              <div class="tasks">
                  <%# <button type="button" name="button">Bedrijven voorstellen</button> %>
                  <%# <button type="button" name="button">Privacy bericht versturen</button> %>
              </div>
              <button class="send" type="submit">
                  <span>Versturen</span>
              </button>
          </div>
      </form>
      <form class="specialMessage" action="specialMessages" method="post">
        <%# <label for="reisvoorkeuren"></label>
        <input type="text" name="reisvoorkeuren" value=""> %>
        <button type="submit" class="reisvoorkeuren">Reisvoorkeuren vragen</button>
      </form>
  </section>
  <section class="form">
      <h2>Formulier</h2>
      <form class="intermediarForm" action="" method="post">
          <div class="q">
              <label>Woonplaats</label>
              <input type="text" name="" value="">
          </div>
          <div class="q">
              <label for="transport">Vervoersmiddel
                  <div class="options">
                    <input type="checkbox" name="transport" id="fiets" value="fiets">
                    <label for="fiets">Fiets</label>
                    <input type="checkbox" name="transport" id="auto" value="auto">
                    <label for="auto">Auto</label>
                    <input type="checkbox" name="transport" id="ov" value="ov">
                    <label for="ov">OV</label>
                    <input type="checkbox" name="transport" id="lopend" value="lopend">
                    <label for="lopend">Lopend</label>

                  </div>
              </label>
          </div>
          <div class="q">
              <label for="traveltime"> Reistijd
                  <div class="options">
                    <input  name="traveltime" type="checkbox" id="vijftien" value="15">
                      <label for="vijftien">-15 min</label>
                      <input  name="traveltime" type="checkbox" id="vijfenveertig" value="45">
                      <label for="vijfenveertig">15 tot 45 min</label>
                      <input  name="traveltime" type="checkbox" id="zestig" value="60">
                      <label for="zestig">45 - 60 min</label>
                      <input  name="traveltime" type="checkbox" id="zestigplus" value="61">
                      <label for="zestigplus">60+ min</label>
                  </div>
              </label>
          </div>
          <div class="q">
            <label for="">Bedrijven</label>
            <ul class="bedrijven">
              <% bedrijven.forEach(function(bedrijf){ %>
              <li value= "<%=bedrijf.travelDuration%>"class=<%=bedrijf.travelDuration%>><%=bedrijf.bedrijfsnaam %> <span><%=bedrijf.travelDuration%></span> minuten<span><%=bedrijf.travelDistance%></span> km</li>

          <%  }) %>
            </ul>
          </div>
          <!-- <button type="button" name="button">submit</button> -->
      </form>
  </section>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/index.js"></script>

</html>
